In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import pytz
from datetime import datetime

import matplotlib.pyplot as plot

In [2]:
# Read csv file into a pandas dataframe
ci_df = pd.read_csv("dailycheckins.csv", parse_dates=['timestamp'])
ci_df

           user                       timestamp  hours               project
0           ned         2019-09-27 00:00:00 UTC   8.00                bizdev
1        robert             09/27/2019 12:00 AM   8.00                bizdev
2           ned          26 сентября 2019 00:00   4.00                bizdev
3           ned         2019-09-26 00:00:00 UTC   1.00  cultureandmanagement
4           ned         2019-09-26 00:00:00 UTC   1.50            project-00
5           ned         2019-09-26 00:00:00 UTC   1.00            project-43
6         jaime             12/21/2018 12:00 AM   2.00            project-00
7         jaime         2018-12-21 00:00:00 UTC   0.50            project-47
8         jaime         2018-12-21 00:00:00 UTC   3.50            project-47
9         jaime         2018-12-20 00:00:00 UTC   1.50            project-00
10        jaime         2018-12-20 00:00:00 UTC   1.50            project-30
11        jaime         2018-12-20 00:00:00 UTC   1.00            project-47
12        jaime         2018-12-20 00:00:00 UTC   3.00            project-47
13      catelyn    2018-11-26 14:47:36.0429 UTC   0.60           opsandadmin
14      catelyn    2018-11-26 14:47:36.0429 UTC   0.45           opsandadmin
15      catelyn    2018-11-26 14:47:36.0429 UTC   0.40  cultureandmanagement
16      catelyn    2018-11-26 14:47:36.0429 UTC   0.08              security
17      catelyn    2018-11-26 14:47:36.0429 UTC   0.68            project-43
18      catelyn    2018-11-26 14:47:36.0429 UTC   0.35           opsandadmin
19      catelyn    2018-11-26 14:47:36.0429 UTC   1.53            project-43
20      catelyn            26 ноября 2018 14:47   0.72           opsandadmin
21      catelyn    2018-11-26 14:47:36.0429 UTC   0.38  cultureandmanagement
22      catelyn    2018-11-26 14:47:36.0429 UTC   0.62  cultureandmanagement
23       cersei    2018-11-26 13:17:30.0426 UTC   3.00             blogideas
24       cersei    2018-11-26 13:17:30.0426 UTC   1.00            project-10
25       cersei    2018-11-26 13:17:30.0426 UTC   4.00              internal
26     daenerys    2018-11-26 12:55:30.0416 UTC   8.00             blogideas
27     daenerys    2018-11-26 12:55:30.0416 UTC   0.50            project-51
28        jorah             11/26/2018 12:49 PM   2.00            project-51
29        jorah    2018-11-26 12:49:17.0405 UTC   1.50               transit
...         ...                             ...    ...                   ...
20470     jorah    2017-06-20 07:57:21.1777 UTC   0.50            project-60
20471     jorah  2017-06-19 09:07:51.085966 UTC   1.50           opsandadmin
20472     jorah  2017-06-19 09:07:51.085966 UTC   0.50           opsandadmin
20473     jorah  2017-06-19 09:07:51.085966 UTC   1.50             workshops
20474     jorah  2017-06-19 09:07:51.085966 UTC   0.50             workshops
20475     jorah  2017-06-19 09:07:51.085966 UTC   0.50            project-65
20476     jorah  2017-06-19 09:07:51.085966 UTC   0.50            project-65
20477  margaery         2017-04-20 00:00:00 UTC   5.00            project-30
20478  margaery         2017-04-20 00:00:00 UTC   2.00              learning
20479  margaery         2017-04-20 00:00:00 UTC   3.50            project-30
20480  margaery         2017-04-20 00:00:00 UTC   1.50            project-68
20481  margaery         2017-04-04 00:00:00 UTC   3.00  cultureandmanagement
20482  margaery         2017-04-04 00:00:00 UTC   7.00                bizdev
20483    robert         2016-06-13 00:00:00 UTC   3.50            project-20
20484    robert         2016-06-13 00:00:00 UTC   2.00                bizdev
20485    robert             06/13/2016 12:00 AM   0.50           opsandadmin
20486    robert         2016-06-13 00:00:00 UTC   2.00               transit
20487    robert         2010-10-04 00:00:00 UTC   1.00           opsandadmin
20488    robert         2010-10-04 00:00:00 UTC   1.50            project-30
20489    robert         2010-10-04 00:00:00 UTC   1.50               transit
20490    robert         2010-10-04 00:00:00 UTC   1.50                bizdev
20491    robert         2010-10-04 00:00:00 UTC   2.00                bizdev
20492    robert         2010-10-04 00:00:00 UTC   0.50                bizdev
20493    robert         2010-10-04 00:00:00 UTC   2.00           opsandadmin
20494    robert         2010-10-04 00:00:00 UTC   2.00            project-64
20495    robert         2010-10-04 00:00:00 UTC   2.00               transit
20496    robert         2010-10-04 00:00:00 UTC   2.00  cultureandmanagement
20497    robert            4 октября 2010 00:00   1.50                bizdev
20498    robert         2010-10-04 00:00:00 UTC   1.00               transit
20499    robert         2010-10-04 00:00:00 UTC   6.00                bizdev

[20500 rows x 4 columns]

In [3]:
# Check for missing values
print('Are there missing values?',ci_df.isnull().values.any())
print(ci_df.isnull().sum())

Are there missing values? True
user         5
timestamp    0
hours        0
project      0
dtype: int64

From the dataframe above, we can see that there are inconsistencies in the 'timestamp' column. Particularly, the format of the dates is not uniform. Let us change that.

In [4]:
# Change Russian months to English
ci_df['timestamp'] = ci_df['timestamp'].str.replace('января','January')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('февраля','February')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('марта','March')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('апреля','April')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('мая','May')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('июня','June')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('июля','July')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('августа','August')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('сентября','September')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('октября','October')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('ноября','November')
ci_df['timestamp'] = ci_df['timestamp'].str.replace('декабря','December')

In [5]:
# Change datetime format
ci_df = ci_df.set_index('timestamp')
ci_df.index = pd.to_datetime(ci_df.index)

In [6]:
ci_df

                                      user  hours               project
timestamp
2019-09-27 00:00:00+00:00              ned   8.00                bizdev
2019-09-27 00:00:00                 robert   8.00                bizdev
2019-09-26 00:00:00                    ned   4.00                bizdev
2019-09-26 00:00:00+00:00              ned   1.00  cultureandmanagement
2019-09-26 00:00:00+00:00              ned   1.50            project-00
2019-09-26 00:00:00+00:00              ned   1.00            project-43
2018-12-21 00:00:00                  jaime   2.00            project-00
2018-12-21 00:00:00+00:00            jaime   0.50            project-47
2018-12-21 00:00:00+00:00            jaime   3.50            project-47
2018-12-20 00:00:00+00:00            jaime   1.50            project-00
2018-12-20 00:00:00+00:00            jaime   1.50            project-30
2018-12-20 00:00:00+00:00            jaime   1.00            project-47
2018-12-20 00:00:00+00:00            jaime   3.00            project-47
2018-11-26 14:47:36.042900+00:00   catelyn   0.60           opsandadmin
2018-11-26 14:47:36.042900+00:00   catelyn   0.45           opsandadmin
2018-11-26 14:47:36.042900+00:00   catelyn   0.40  cultureandmanagement
2018-11-26 14:47:36.042900+00:00   catelyn   0.08              security
2018-11-26 14:47:36.042900+00:00   catelyn   0.68            project-43
2018-11-26 14:47:36.042900+00:00   catelyn   0.35           opsandadmin
2018-11-26 14:47:36.042900+00:00   catelyn   1.53            project-43
2018-11-26 14:47:00                catelyn   0.72           opsandadmin
2018-11-26 14:47:36.042900+00:00   catelyn   0.38  cultureandmanagement
2018-11-26 14:47:36.042900+00:00   catelyn   0.62  cultureandmanagement
2018-11-26 13:17:30.042600+00:00    cersei   3.00             blogideas
2018-11-26 13:17:30.042600+00:00    cersei   1.00            project-10
2018-11-26 13:17:30.042600+00:00    cersei   4.00              internal
2018-11-26 12:55:30.041600+00:00  daenerys   8.00             blogideas
2018-11-26 12:55:30.041600+00:00  daenerys   0.50            project-51
2018-11-26 12:49:00                  jorah   2.00            project-51
2018-11-26 12:49:17.040500+00:00     jorah   1.50               transit
...                                    ...    ...                   ...
2017-06-20 07:57:21.177700+00:00     jorah   0.50            project-60
2017-06-19 09:07:51.085966+00:00     jorah   1.50           opsandadmin
2017-06-19 09:07:51.085966+00:00     jorah   0.50           opsandadmin
2017-06-19 09:07:51.085966+00:00     jorah   1.50             workshops
2017-06-19 09:07:51.085966+00:00     jorah   0.50             workshops
2017-06-19 09:07:51.085966+00:00     jorah   0.50            project-65
2017-06-19 09:07:51.085966+00:00     jorah   0.50            project-65
2017-04-20 00:00:00+00:00         margaery   5.00            project-30
2017-04-20 00:00:00+00:00         margaery   2.00              learning
2017-04-20 00:00:00+00:00         margaery   3.50            project-30
2017-04-20 00:00:00+00:00         margaery   1.50            project-68
2017-04-04 00:00:00+00:00         margaery   3.00  cultureandmanagement
2017-04-04 00:00:00+00:00         margaery   7.00                bizdev
2016-06-13 00:00:00+00:00           robert   3.50            project-20
2016-06-13 00:00:00+00:00           robert   2.00                bizdev
2016-06-13 00:00:00                 robert   0.50           opsandadmin
2016-06-13 00:00:00+00:00           robert   2.00               transit
2010-10-04 00:00:00+00:00           robert   1.00           opsandadmin
2010-10-04 00:00:00+00:00           robert   1.50            project-30
2010-10-04 00:00:00+00:00           robert   1.50               transit
2010-10-04 00:00:00+00:00           robert   1.50                bizdev
2010-10-04 00:00:00+00:00           robert   2.00                bizdev
2010-10-04 00:00:00+00:00           robert   0.50                bizdev
2010-10-04 00:00:00+00:00           robert   2.00           opsandadmin
2010-10-04 00:00:00+00:00           robert   2.00            project-64
2010-10-04 00:00:00+00:00           robert   2.00               transit
2010-10-04 00:00:00+00:00           robert   2.00  cultureandmanagement
2010-10-04 00:00:00                 robert   1.50                bizdev
2010-10-04 00:00:00+00:00           robert   1.00               transit
2010-10-04 00:00:00+00:00           robert   6.00                bizdev

[20500 rows x 3 columns]

In [11]:
# Knowing which rows have null values
ci_df[ci_df['user'].isna()]
# Replacing the missing values

                                 user  hours     project
timestamp
2017-12-27 10:36:14.000121+00:00  NaN   4.00  project-40
2017-12-27 10:36:14.000121+00:00  NaN   3.00    learning
2017-10-12 10:31:44.000227+00:00  NaN   2.75  project-47
2017-10-12 10:31:44.000227+00:00  NaN   4.00      bizdev
2017-10-12 10:31:44.000227+00:00  NaN   1.00     transit

In [9]:
ci_df[ci_df['project']=='project-40']

                                     user  hours     project
timestamp
2018-11-23 13:12:00               catelyn   2.37  project-40
2018-11-06 15:29:02.100600+00:00    theon   0.25  project-40
2018-10-23 08:20:26.000100+00:00    jorah   1.00  project-40
2018-10-11 11:07:57.000100+00:00    jorah   1.00  project-40
2018-10-05 13:42:08.000100+00:00    jorah   0.50  project-40
2018-10-04 00:00:00+00:00         catelyn   0.23  project-40
2018-10-03 17:40:37.000100+00:00    jorah   0.50  project-40
2018-10-02 16:37:21.000100+00:00    jorah   1.00  project-40
2018-10-02 09:25:50.000100+00:00    jorah   0.75  project-40
2018-10-02 00:00:00+00:00           theon   0.50  project-40
2018-10-02 00:00:00+00:00           bronn   1.25  project-40
2018-09-05 00:00:00+00:00           jorah   2.00  project-40
2018-08-22 00:00:00+00:00         catelyn   0.57  project-40
2018-08-22 00:00:00+00:00         catelyn   0.98  project-40
2018-08-17 10:41:30.000100+00:00    jorah   1.00  project-40
2018-07-20 00:00:00+00:00           bronn   1.00  project-40
2018-07-02 11:11:59.000297+00:00    jorah   0.50  project-40
2018-06-29 14:09:00                 bronn   4.00  project-40
2018-06-29 14:09:59.000569+00:00    bronn   0.50  project-40
2018-06-25 00:00:00+00:00         catelyn   0.45  project-40
2018-06-25 00:00:00+00:00         catelyn   0.15  project-40
2018-06-25 00:00:00+00:00           tywin   0.50  project-40
2018-06-18 10:20:37.000085+00:00    bronn   0.75  project-40
2018-06-13 09:36:00                 bronn   0.50  project-40
2018-05-31 10:50:43.000024+00:00    jorah   1.00  project-40
2018-05-30 12:17:08.000104+00:00   cersei   2.00  project-40
2018-05-30 12:17:08.000104+00:00   cersei   2.50  project-40
2018-05-29 12:10:43.000073+00:00   cersei   4.50  project-40
2018-05-23 10:23:54.000314+00:00    jorah   1.50  project-40
2018-05-22 15:38:17.000492+00:00    jorah   0.25  project-40
...                                   ...    ...         ...
2017-11-06 10:28:08.000391+00:00    davos   5.50  project-40
2017-11-06 10:28:08.000391+00:00    davos   1.00  project-40
2017-11-06 08:29:06.000097+00:00    jorah   5.00  project-40
2017-11-03 10:12:23.000160+00:00    jorah   3.50  project-40
2017-11-03 09:48:03.000160+00:00    davos   1.00  project-40
2017-11-03 09:48:03.000160+00:00    davos   0.25  project-40
2017-11-03 09:45:24.000249+00:00    tywin   1.00  project-40
2017-11-03 09:33:57.000313+00:00    theon   3.00  project-40
2017-11-03 09:33:57.000313+00:00    theon   0.25  project-40
2017-11-02 09:29:01.000115+00:00    davos   2.00  project-40
2017-11-02 09:27:05.000042+00:00    bronn   1.00  project-40
2017-11-01 00:00:00+00:00           bronn   6.00  project-40
2017-10-31 11:18:46.000215+00:00    davos   1.00  project-40
2017-10-31 11:06:45.000067+00:00    tywin   1.00  project-40
2017-10-31 08:27:15.000165+00:00    theon   1.00  project-40
2017-10-31 03:25:00                   ned   1.00  project-40
2017-10-31 00:00:00+00:00           jorah   1.00  project-40
2017-10-31 00:00:00                 bronn   1.00  project-40
2017-10-30 12:32:11.000323+00:00    theon   8.50  project-40
2017-10-30 09:54:13.000066+00:00    davos   2.00  project-40
2017-10-30 09:42:58.000056+00:00    bronn   1.00  project-40
2017-10-30 09:13:29.000032+00:00      ned   1.00  project-40
2017-10-30 09:13:29.000032+00:00      ned   0.50  project-40
2017-10-30 00:00:00+00:00           jorah   7.00  project-40
2017-10-27 08:44:54.000417+00:00    theon   2.00  project-40
2017-10-26 11:29:34.000252+00:00    tywin   6.00  project-40
2017-10-26 10:09:09.000049+00:00    theon   6.00  project-40
2017-10-26 08:12:21.000252+00:00    jorah   3.00  project-40
2017-10-26 08:12:21.000252+00:00    jorah   3.00  project-40
2017-10-26 00:00:00+00:00             ned   0.50  project-40

[612 rows x 3 columns]